.footer-container{
    margin-top: 5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(11, 11, 11);
    height: auto;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.52);
    display: flex;
    justify-content: space-around;
}
.first-div{
    display: flex;
    height: auto;
    width: 25vw;
    flex-direction: column;
}
.second-div{
    display: flex;
    height: auto;
    width: 25vw;
    flex-direction: column;
}
.third-div{
    display: flex;
    height: auto;
    width: 25vw;
    flex-direction: column;
}
.footer-heading{
    margin-top: 10vh;
    font-size: 35px;
}
.footer-content{
    margin-top: 2vh;
    font-size: 20px;
}

@media (max-width: 590px) and (min-width: 452px){

    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: rgb(11, 11, 11);
        height: 95vh;
    }
    .first-div{
        display: flex;
        height: 10vh;
        width: 60vw;
        flex-direction: column;
    }
    .second-div{
        display: flex;
        margin-top: 5vh;
        height: 8vh;
        width: 60vw;
        flex-direction: column;
    }
    .third-div{
        display: flex;
        height: 10vh;
        width: 60vw;
        flex-direction: column;
    }

}

@media (max-width: 452px) {
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: rgb(11, 11, 11);
        height: 95vh;
        width: 100%;
    }
    .first-div{
        display: flex;
        height: 10vh;
        width: 70vw;
        flex-direction: column;
    }
    .second-div{
        display: flex;
        margin-top: 5vh;
        height: 8vh;
        width: 70vw;
        flex-direction: column;
    }
    .third-div{
        display: flex;
        height: 10vh;
        width: 70vw;
        flex-direction: column;
    }
    
}